.page{
    max-width:1200px;
    margin-left: 10px;
    margin-right: 10px;
}
.mycard{
   background-color:aliceblue;
    border-radius:30px;
     overflow:hidden;
}
.cardtitle{
   text-align: center;
}
.cardbody{
    margin:2%;
    padding:2%;
}
.buybutton{
   
    background-color:red;
    color:white;
    border: 2px solid  white;
   border-radius:5px;
   width:60%;
   margin-left:20%;
    padding:1%;
}