.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
   padding:20px;
    border-bottom: 2px solid #C83232;
  }
  
 .header h5{
color:#d95058;

 }
  .logo img{
    width:20vw;
    text-align:left;
    cursor:pointer;
  }
  .navlinks{
    display: flex;
    justify-content: space-evenly;
    min-width: 60vw;
  }

  .header a {
    text-decoration: none;
    color: #d95058;
    font-size: 1.4rem;
    list-style: none;
    margin-right: 20px;
    line-height:4rem;
    transition: 1s;
  }
  header a:hover{
     color: #983137;
  }
  .list{
    list-style: none;
    
  }
  @media (min-width: 768px) {
    .logo {
      font-size: 2.5rem;
    }
  
    .navigation a {
      font-size: 1.5rem;
    }
  }